.services{
    background-color:black;
    margin-top: 10%;
    height: 1100px;
}


.skillCard{
    height: 300px;
    width: 450px;
    color: white;
    background-color: black;
    border: solid 2px gray;
    border-radius: 20px;
    box-shadow: #ffa500 1px 3px 5px 5px;
}

#serviceTitle{
text-align: left;
font-size: 30px;
font-weight: lighter;
color: white;
margin-left: 5%;
margin-top: 5%;
padding-top: 4%;
}


#iCanDo{
    text-align: left;
font-size: 40px;
margin-left: 5%;
color: white;

}

.serviceCards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.cardTitle{
text-align: center;
font-size: 25px;
color: white;
}

.cardDescription{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 3%;
    font-style: oblique;
    
}

#cardIcons{
    height: 50px;
    width: 50px;
    margin-left: 43%;
    margin-top: 5%;
}

